<ion-menu side="start" content-id="main-content">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="menuToolbar" >{{'routelist-menu.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home2/routelist" >
        <ion-icon class="iconStyling" name="home" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myRoutes.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToWalletPage()">
        <ion-icon class="iconStyling" name="wallet" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myWallet.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToRouteHistoryPage()">
        <ion-icon class="iconStyling" name="file-tray-full" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-routeHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToTechHistoryPage()">
        <ion-icon class="iconStyling" name="archive" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-techHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToProfilePage()">
        <ion-icon class="iconStyling" name="person" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-profile.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToSettingsPage()">
        <ion-icon class="iconStyling" name="settings" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-settings.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToLoginPage()">
        <ion-icon class="iconStyling" name="log-out"  slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-logout.title' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

</ion-menu>



<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons class="nav-buttons"slot="end">
         <ion-button style="width: 50px;/*!" (click)="navigateToNotificationsPage()" ><ion-icon class="notBtn" name="notifications" ></ion-icon></ion-button>
        <ion-menu-button class="menuBtn"></ion-menu-button>
      </ion-buttons>
      <ion-buttons (click)="navigateToProfilePage()" id="profile"></ion-buttons>
      <ion-title>{{'vehicleCheck-check.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <ion-list>
    <ion-label class="ion-text-center">
      <p class="titleStyle">{{'vehicleCheck-pleaseCheck.title' | translate}}</p>
    </ion-label>
  <!--   <ion-list class="ionListClass">
      <ion-button [ngClass]="{'btnStyleChanged' : isChanged }" (click)="color()"  class="btnStyle">TIRES</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button   class="btnStyle">FUEL</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button class="btnStyle">ENGINE</ion-button>
    </ion-list>
    <ion-list class="ionListClass">
      <ion-button  class="btnStyle">BUS</ion-button>
    </ion-list> -->
    <form [formGroup]="commentForm" (ngSubmit)="submit()">

     <div *ngIf="eng" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'vehicleCheck-checkArea.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select formControlName="measurementData" [(ngModel)]="checkpointen"  interface="action-sheet">
          <ion-select-option  *ngFor="let enlang of englishLanguageJSON; let i = index" [value]="enlang">
                      {{enlang}}
          </ion-select-option>
        </ion-select>
      </ion-item >
    </div>

     <div *ngIf="el" class="centerItems styleItems ion-padding">
      <ion-label class="labelIon">{{'vehicleCheck-checkArea.title' | translate}}</ion-label>
      <ion-item class="itemIon" lines="none">
        <ion-select [(ngModel)]="checkpointel"  interface="action-sheet">
          <ion-select-option  *ngFor="let ellang of ellangs" [value]="ellang">
                      {{ellang}}
          </ion-select-option>
        </ion-select>
      </ion-item >


    </div>

   
  
    <ion-list class="ionListClass">  
      <textarea formControlName="comment" type="text" class="txtArea" rows="4" cols="50" [(ngModel)]="amount"  (change)=check(amount)>
        {{'vehicleCheck-comments.title' | translate}}
      </textarea>
      <div *ngFor="let error of errorMessages.comment">
        <ng-container *ngIf="comment.hasError(error.type) && (comment.dirty || comment.touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-list>
    <div class="myiontab">

      <ion-tab-bar slot="bottom" class="ion-no-border">
        <ion-buttons type="submit" class="hide-on-keyboard-open addBtn" (click)="sendData()" vertical="bottom" horizontal="center" translucent="true">
          <button (click)="map()" class="adBtn2">
            {{'vehicleCheck-start.title' | translate}}
          </button>
        </ion-buttons>
        <ion-tab-button tab="routelist" (click)="navigateToRouteListPage()">
          <ion-icon class="iconStyling" name="home"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="wallet" class="comments" (click)="navigateToWalletPage()">
          <ion-icon class="iconStyling" name="wallet"></ion-icon>
        </ion-tab-button>
    
        <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
    
        <ion-tab-button tab="route-history" class="notifs" (click)="navigateToRouteHistoryPage()">
          <ion-icon class="iconStyling" name="file-tray-full"></ion-icon>
        </ion-tab-button>
    
        <ion-tab-button tab="settings" (click)="navigateToSettingsPage()">
          <ion-icon class="iconStyling" name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    
    </div>
  </form>
    </ion-list>
  </ion-content>

<!-- ---------------- !!!!!! ---------------- --> 
  <!-- BottomBar Code --> 
  <!-- <ion-tab-bar slot="bottom" class="md hydrated startButtonClass">
      <ion-buttons class="hide-on-keyboard-open addBtn" (click)="navigateToStartRoutePage()" vertical="bottom" horizontal="center" translucent="true">
        <button (click)="navigateToStartRoutePage()" class="adBtn2">
          START
        </button>
      </ion-buttons>
    </ion-tab-bar> -->
<!--     
   <div class="hide-on-keyboard-open bottomBar">     
     <ion-tab-bar slot="bottom" class="md hydrated startButtonClass">
      <ion-buttons class="hide-on-keyboard-open addBtn" (click)="navigateToStartRoutePage()" vertical="bottom" horizontal="center" translucent="true">
        <button (click)="navigateToStartRoutePage()" class="adBtn2">
          {{'vehicleCheck-start.title' | translate}}
        </button>
      </ion-buttons>
    </ion-tab-bar>
      <ion-tab-bar  slot="bottom" class="ionTabBar ion-no-border">
        <ion-tab-button tab="feed" (click)="navigateToroutelist()">
          <ion-icon class="iconStyling" name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="navigateToWalletPage()" tab="wallet" class="comments">
          <ion-icon class="iconStyling" name="wallet"></ion-icon>
        </ion-tab-button>
        <svg height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>
        <ion-tab-button (click)="navigateToRouteHistoryPage()" tab="route-history" class="notifs">
          <ion-icon class="iconStyling" name="file-tray-full"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="navigateToSettingsPage()" tab="settings">
          <ion-icon class="iconStyling" name="settings"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </div> -->
   <!-- ---------------- !!!!!! ---------------- --> 
  
</div>












<!-- <ion-header>
  <ion-toolbar>
    <ion-title>techinspect</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

		 <ion-label color="primary">Language</ion-label>
    <ion-item>
      <ion-select  [(ngModel)]="language">
        <ion-select-option *ngFor="let lang of langs; let l=index" [value]="lang">{{lang}}</ion-select-option> 
        </ion-select>
    </ion-item>
    <ion-row>
  
    <button class="btn-round bg-primary" ion-button color = "primary"(click)="selLang()">Confirm</button>
  
   
</ion-row>

<div *ngIf="eng">
	 <ion-label color="primary">Select checkpoint</ion-label>
    <ion-item>
      <ion-select  [(ngModel)]="checkpointen">
        <ion-select-option *ngFor="let enlang of enlangs; let k=index" [value]="enlang">{{enlang}}</ion-select-option> 
        </ion-select>
    </ion-item>
    <ion-row>
  
    <button class="btn-round bg-primary" ion-button color = "primary"(click)="tech(k)">Confirm</button>
  
   
</ion-row>
</div>

<div *ngIf="el">
	 <ion-label color="primary">Επέλεξε checkpoint</ion-label>
    <ion-item>
      <ion-select  [(ngModel)]="checkpointel">
        <ion-select-option *ngFor="let ellang of ellangs; let k=index" [value]="ellang">{{ellang}}</ion-select-option> 
        </ion-select>
    </ion-item>
    <ion-row>
  
    <button class="btn-round bg-primary" ion-button color = "primary"(click)="tech(k)">Confirm</button>
  
   
</ion-row>
</div>

  

<div *ngIf="com">
	<ion-label color="primary">Remarks-Comments</ion-label>
		<ion-textarea [(ngModel)]="comments" cols="80" rows="4" maxlength="250" [value]="comments"></ion-textarea>
		<ion-row>
  
    <button class="btn-round bg-primary" ion-button color = "primary"(click)="comment()">Confirm</button>
  
   
</ion-row>
	</div>
	<button class="btn-round bg-primary" ion-button color = "primary"(click)="map()">Map</button>

</ion-content>
 -->