<ion-menu side="start" content-id="main-content">

  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="menuToolbar" >{{'routelist-menu.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home2/routelist" >
        <ion-icon class="iconStyling" name="home" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myRoutes.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToWalletPage()">
        <ion-icon class="iconStyling" name="wallet" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-myWallet.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToRouteHistoryPage()">
        <ion-icon class="iconStyling" name="file-tray-full" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-routeHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToTechHistoryPage()">
        <ion-icon class="iconStyling" name="archive" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-techHistory.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToProfilePage()">
        <ion-icon class="iconStyling" name="person" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-profile.title' | translate}}</ion-label>
      </ion-item>
      <ion-item (click)="navigateToSettingsPage()">
        <ion-icon class="iconStyling" name="settings" slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-settings.title' | translate}}</ion-label>
      </ion-item>
      <ion-item routerLink="/login">
        <ion-icon class="iconStyling" name="log-out"  slot="start"></ion-icon>
        <ion-label class="menuTxt" >{{'routelist-logout.title' | translate}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons class="nav-buttons" slot="end">
         <ion-button style="width: 50px;/*!" (click)="navigateToNotificationsPage()" ><ion-icon class="notBtn" name="notifications" ></ion-icon><ion-badge></ion-badge></ion-button>
        <ion-menu-button class="menuBtn"></ion-menu-button>
      </ion-buttons>
      <ion-buttons (click)="navigateToProfilePage()" id="profile"></ion-buttons>
      <ion-title>{{'profile-profile.title' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content>

    <ion-item lines="none">
      <ion-img class="centerItems" src="assets/images/myprofile.svg">
      </ion-img>
    </ion-item>

    <form id="form" [formGroup]="profileRegistrationUpdateForm" (ngSubmit)="submit()">
      <ion-list  *ngFor="let profile of getProfileJSONtoArray">
        <ion-item lines='none'>
          <ion-input formControlName="firstName"  name="firstName"  type="text" placeholder="{{profile.FIRST_NAME}}" required>
          </ion-input>  <ion-icon slot="end" name="person" ios="mail"></ion-icon>
        </ion-item>
  
        <ion-item lines="none">
          <ion-input  formControlName="lastName" name="lastName" type="text" placeholder="{{profile.LAST_NAME}}" required></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="address" name="address" type="text" placeholder="{{profile.ADDRESS}}" required></ion-input>
          <ion-icon slot="end" name="home"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="city"  name="city" type="text" placeholder="{{profile.LOCATION}}" required></ion-input>
          <ion-icon slot="end" name="person"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="state"  name="state" type="text" placeholder="{{'profile-state.title' | translate}}" required></ion-input>
          <ion-icon slot="end" name="ribbon"></ion-icon>
        </ion-item>

        <ion-item lines="none">
          <ion-input formControlName="email" name="email" type="email" placeholder="{{profile.EMAIL}}" required></ion-input>
          <ion-icon slot="end" name="mail"></ion-icon>
        </ion-item>
  
        <ion-item lines="none">
          <ion-input  formControlName="phoneNumber" name="phoneNumber" type="tel" placeholder="{{profile.MOBILE}}" required></ion-input>
          <ion-icon slot="end" name="call"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="licenceNumber" name="licenseNumber" type="text" placeholder="{{profile.LICENSE_ID}}" required></ion-input>
          <ion-icon slot="end" name="newspaper"></ion-icon>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="plateNumber" name="plateNumber" type="text" placeholder="{{'profile-platenum.title' | translate}}" required></ion-input>
          <ion-icon slot="end" name="newspaper"></ion-icon>
        </ion-item>
  
        <ion-item lines="none">
          <ion-input formControlName="pass"  name="pass" type="password" placeholder="{{profile.PASSWORD}}" required></ion-input>
          <ion-icon slot="end" name="eye"></ion-icon>
        </ion-item>
        <!-- <button class="btn-goback" expand="block" shape="round"  (click)="goback()">
          {{'profile-gogoback.title' | translate}}
        
        </button> -->
        <ion-button type="submit" class="btn-send" expand="block" shape="round"  (click)="navigateToFeedPage()">{{'profile-update.title' | translate}}</ion-button>
      </ion-list>
    </form>
  </ion-content>
